/* Navbar.css */

/* Default Navbar styles */
.navbar-links {
  display: none;
}

@media (min-width: 640px) {
  /* Show Navbar links on tablets and up */
  .navbar-links {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 1rem;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-links a {
    color:blue;
    font-weight: bold;
  }
}

@media (min-width: 768px) {
  /* Adjust Navbar for medium screens */
  .navbar-links {
    gap: 2rem;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: 1024px) {
  /* Adjust Navbar for large screens */
  .navbar-links {
    gap: 3rem;
    padding-top: 0;
    padding-bottom: 0;
  }
}
